/* FOR SCREEN WIDTH BELOW 1400PX  */
@media (max-width: 1401px) {
  .header .hamburger-btn {
    margin-right: -100px;
  }
}
/* FOR SCREEN WIDTH BELOW 1200PX  */
@media (max-width: 1201px) {
  .header .hamburger-btn {
    margin-right: 0.01%;
  }
  .effect-5 {
    right: 1.5%;
    top: 38%;
  }
}

/* FOR SCREEN WIDTH BELOW 991PX  */
@media (max-width: 991px) {
  .service-section .service-item,
  .portfolio-section .portfolio-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .home-section .home-text h2 {
    font-size: 48px;
  }

  .home-section .home-img .img-box {
    margin-bottom: 20px;
    max-width: 350px;
  }

  .effect-2 {
    bottom: 10%;
  }

  .effect-5 {
    right: 1.5%;
    top: 38%;
  }
}

/* FOR SCREEN WIDTH BELOW 767PX  */
@media (max-width: 767px) {
  .home-section .home-text,
  .home-section .home-img,
  .about-section .about-img,
  .about-section .about-info,
  .about-section .skills .skill-item,
  .service-section .service-item,
  .portfolio-section .portfolio-item,
  .portfolio-popup .description,
  .portfolio-popup .info,
  .contact-section .contact-item,
  .contact-section .w-50 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home-section .home-text {
    order: 2;
  }

  .home-section .home-text,
  .contact-section .submit-btn {
    text-align: center;
  }

  .home-section .full-screen {
    padding: 100px 0;
  }

  .home-section .home-img .img-box {
    margin-bottom: 40px;
    max-width: 350px;
  }

  .effect-3 {
    margin-left: -60px;
  }

  .effect-4 {
    left: 15%;
  }

  .effect-5 {
    right: 4%;
  }

  .about-section .about-img {
    padding-bottom: 30px;
  }

  /* .about-section .about-img img-box {
    padding-bottom: 63px;
  } */

  .about-section .timeline .timeline-item:nth-child(odd) {
    padding-right: 15px;
    text-align: left;
    padding-left: 75px;
  }

  .about-section .timeline .timeline-item:nth-child(even) {
    padding-left: 75px;
  }

  .about-section .timeline::before {
    left: 35px;
  }

  .about-section .timeline .timeline-item:nth-child(odd) .icon {
    right: auto;
    left: -60px;
  }

  .about-section .timeline .timeline-item:nth-child(even) .icon {
    left: -60px;
  }

  .about-section .timeline .timeline-item {
    margin-bottom: 40px;
  }

  .about-section .timeline .timeline-item:last-child {
    margin-bottom: 0;
  }

  .about-section
    .timeline
    .timeline-item:nth-child(odd)
    .timeline-item-inner::before {
    left: -30px;
    right: auto;
  }

  .about-section .about-info .btn-1 {
    margin: 30px 20px 0 30%;
  }

  .about-section .about-info .btn-1:last-child {
    margin: 0;
  }

  .about-section .about-img .img-box {
    width: 65%;
    border: 10px solid transparent;
    border-radius: 5px;
    margin: 0 auto;
  }

  .portfolio-popup .info {
    margin-top: 15px;
  }
}

/* FOR SCREEN WIDTH BELOW 574PX  */
@media (max-width: 574px) {
  .home-section .home-img .img-box {
    max-width: 260px;
    margin-bottom: 40px;
  }

  .home-section .full-screen {
    padding: 80px 0;
  }

  .home-section .home-text h2 {
    font-size: 40px;
  }

  about-section .about-img .img-box {
    width: 74%;
    margin: 0 auto;
  }

  .about-section .about-info .btn-1 {
    margin: 30px 20px 0 20%;
  }
}

@media (max-width: 400px) {
  .effect-4 {
    left: 5.5%;
  }

  .home-section .home-img .img-box {
    margin-bottom: 20px;
  }

  .about-section .about-info .btn-1 {
    margin: 30px 20px 0 8%;
  }
}
